.tag-copyright{
    color: purple !important;
}
.tag-character{
    color: green !important;
}
.tag-artist{
    color: coral !important;
}
.tag-general{
    color: #36E1F2 !important;
}
.tag-meta{
    color: teal !important;
}